/* Brand Palette */
$color-brand-50: #f3f5ff;
$color-brand-100: #e1e5ff;
$color-brand-200: #cbd3ff;
$color-brand-300: #acb9ff;
$color-brand-400: #8d9ffe;
$color-brand-500: #6a80fe;
$color-brand-600: #4c64e7;
$color-brand-700: #4155c3;
$color-brand-800: #34449d;
$color-brand-secondary-50: #fafafa;
$color-brand-secondary-100: #f4f4f5;
$color-brand-secondary-200: #e5e5e5;
$color-brand-secondary-300: #d4d4d8;
$color-brand-secondary-400: #9f9fa9;
$color-brand-secondary-500: #71717b;
$color-brand-secondary-600: #52525c;
$color-brand-secondary-700: #3f3f47;
$color-brand-secondary-800: #27272a;

/* Primitive */
$color-base-white: #fff;
$color-base-black: #000;
$color-gray-50: #f9fafb;
$color-gray-100: #f3f4f6;
$color-gray-200: #e5e7eb;
$color-gray-300: #d1d5db;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-600: #4b5563;
$color-gray-700: #374151;
$color-gray-800: #1f2937;
$color-gray-900: #111827;
$color-light-gray-50: #f6f8fa;
$color-light-gray-100: #f2f3f7;
$color-blue-50: #eff6ff;
$color-blue-100: #dbeafe;
$color-blue-200: #bfdbfe;
$color-blue-300: #93c5fd;
$color-blue-600: #2563eb;
$color-blue-700: #1d4ed8;
$color-blue-800: #1e40af;
$color-yellow-50: #fefce8;
$color-yellow-500: #f0b100;
$color-yellow-600: #d08700;
$color-yellow-800: #894b00;
$color-orange-50: #fff7ed;
$color-orange-100: #ffedd4;
$color-orange-200: #ffd6a7;
$color-orange-300: #ffb86a;
$color-orange-400: #ff8904;
$color-orange-500: #ff6900;
$color-orange-600: #f54900;
$color-orange-700: #ca3500;
$color-orange-800: #9f2d00;
$color-green-50: #ecfdf5;
$color-green-100: #d0fae5;
$color-green-200: #a4f4cf;
$color-green-300: #8ae4bb;
$color-green-400: #00d492;
$color-green-500: #00bc7d;
$color-green-600: #096;
$color-green-700: #007a55;
$color-green-800: #006045;
$color-teal-600: #009689;
$color-red-50: #fef2f2;
$color-red-100: #ffe2e2;
$color-red-200: #ffc9c9;
$color-red-300: #ffa2a2;
$color-red-400: #ff6467;
$color-red-600: #e7000b;
$color-red-700: #c10007;
$color-red-800: #9f0712;
$color-indigo-600: #4f39f6;

/* Transparent */
$opacity-white-80: rgba(#fff, 0.8);
$opacity-black-50: rgba(#000, 0.5);
