$btn-sizes: (
  lg: 4rem,
  md: 3.6rem,
  sm: 2.8rem,
);
$btn-radius: (
  lg: 1rem,
  md: 0.8rem,
  sm: 0.6rem,
);
$icon-sizes: (
  lg: 2.4rem,
  md: 2rem,
  sm: 1.8rem,
);

.w-100 {
  width: 100%;
}
