$shadow-xs: 0px 1px 2px rgb(0 0 0 / 5%);
$shadow-sm: 0px 2px 4px rgb(0 0 0 / 8%);
$shadow-md: 0px 4px 8px rgb(0 0 0 / 10%);
$shadow-lg: 0px 8px 24px rgb(0 0 0 / 12%);
$shadow-inset: inset 0px 1px 2px rgb(0 0 0 / 6%);
$tooltip-shadow: 0px 2px 6px rgb(0 0 0 / 32%);
$modal-shadow: 0px 12px 32px rgb(0 0 0 / 32%);
$options-shadow: 0px 4px 12px rgb(0 0 0 / 8%);
