$font-main: 'Pretendard Variable', pretendard, -apple-system;
$browser-font-size: 62.5%;
$font-size-11: 1.1rem;
$font-size-12: 1.2rem;
$font-size-13: 1.3rem;
$font-size-14: 1.4rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-24: 2.4rem;
