$before-content-level: -1;
$after-content-level: 1;
$bar-indicator-level: 2;
$table-header-level: 10;
$select-options-level: 20;
$datepicker-level: 20;
$sidebar-menu-level: 30;
$header-level: 50;
$overlay-level: 100;
$modal-level: 110;
