@use 'sass:meta';
@use '../variables' as *;

@mixin text-style-11() {
  font-size: $font-size-11;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: -0.02rem;
}

@mixin text-style-12() {
  font-size: $font-size-12;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: -0.02rem;
}

@mixin text-style-13() {
  font-size: $font-size-13;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: -0.02rem;
}

@mixin text-style-14() {
  font-size: $font-size-14;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.02rem;
}

@mixin text-style-16() {
  font-size: $font-size-16;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: -0.02rem;
}

@mixin text-style-18() {
  font-size: $font-size-18;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: -0.02rem;
}

@mixin text-style-20() {
  font-size: $font-size-20;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: -0.02rem;
}

@mixin text-style-24() {
  font-size: $font-size-24;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: -0.02rem;
}

@mixin text-style($size, $color: false, $weight: 400) {
  @if $size == 11 {
    @include text-style-11;
  }

  @if $size == 12 {
    @include text-style-12;
  }

  @if $size == 13 {
    @include text-style-13;
  }

  @if $size == 14 {
    @include text-style-14;
  }

  @if $size == 16 {
    @include text-style-16;
  }

  @if $size == 18 {
    @include text-style-18;
  }

  @if $size == 20 {
    @include text-style-20;
  }

  @if $size == 24 {
    @include text-style-24;
  }

  @if meta.type-of($color) == color {
    color: $color;
  }

  @if meta.type-of($weight) == number {
    font-weight: $weight;
  }
}
