@use 'sass:map';
@use 'sass:meta';
@use '../variables' as *;
@use '../mixins/' as *;

%btn-base {
  @include focus-visible;
  @include inline-flexbox;
}

.btn {
  @extend %btn-base;

  flex-shrink: 0;
  min-width: fit-content;
  white-space: nowrap;
  transition: $base-transition;

  &.lg {
    @include text-style(14);
    @include btn-size(lg);

    gap: 0.4rem;

    width: auto;
    min-width: 6.4rem;
    height: 4rem;
    padding: 0 1.6rem;
  }

  &.md {
    @include text-style(14);
    @include btn-size(md);

    gap: 0.2rem;

    width: auto;
    min-width: 6.4rem;
    height: 3.6rem;
    padding: 0 1.2rem;
  }

  &.sm {
    @include text-style(13);
    @include btn-size(sm);

    gap: 0.2rem;

    width: auto;
    min-width: 6.4rem;
    height: 2.8rem;
    padding: 0 0.8rem;
  }

  &-text {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
  }

  &.primary {
    &.filled {
      @include primary-btn-style(filled);
    }

    &.outlined {
      @include primary-btn-style(outlined);
    }

    &.text {
      @include primary-btn-style(text);
    }
  }

  &.secondary {
    color: $text-interactive-secondary;

    &.filled {
      @include secondary-btn-style(filled);
    }

    &.outlined {
      @include secondary-btn-style(outlined);
    }

    &.text {
      @include secondary-btn-style(text);
    }
  }

  &.destructive {
    &.filled {
      @include destructive-btn-style(filled);
    }

    &.outlined {
      @include destructive-btn-style(outlined);
    }

    &.text {
      @include destructive-btn-style(text);
    }
  }

  &:disabled {
    color: $text-disabled;
    background-color: $bg-disabled;
  }
}
