@use '../variables' as *;
@use '../mixins/' as *;

.form-field {
  @include flexbox(start, center, 1.2rem);

  width: 100%;

  &.vertical {
    @include column-flexbox(start, start, 0.4rem);
  }

  &.required {
    .form-label {
      position: relative;

      &::after {
        content: '';

        position: absolute;
        top: 0;
        right: -0.8rem;

        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;

        background-color: $icon-interactive-primary;
      }
    }
  }
}

.form-input {
  position: relative;
  width: 100%;

  &.is-error {
    .form-helper-text {
      display: block;
    }

    .input {
      @include focus-visible($border-interactive-danger);

      border-color: $border-danger;

      &:hover:not(:disabled) {
        border-color: $border-interactive-danger-hovered;
      }
    }
  }
}

.input-group {
  position: relative;

  .btn-password-toggle {
    @include inline-flexbox;
    @include pos-center-y;

    right: 0;
  }

  .material-symbols-rounded {
    font-size: 2.4rem;
    color: $icon-secondary;
  }

  .input.lg + .btn-password-toggle {
    right: 1.2rem;

    .material-symbols-rounded {
      font-size: 2.4rem;
    }
  }

  .input.md + .btn-password-toggle {
    right: 0.8rem;

    .material-symbols-rounded {
      font-size: 2rem;
    }
  }

  .input.sm + .btn-password-toggle {
    right: 0.4rem;

    .material-symbols-rounded {
      font-size: 1.6rem;
    }
  }

  &.password-input {
    .input.lg {
      padding: 0 4.4rem 0 1.6rem;
    }

    .input.md {
      padding: 0 3.6rem 0 1.2rem;
    }

    .input.sm {
      padding: 0 2.2rem 0 0.8rem;
    }
  }
}

/* --------- inline form --------- */
.inline-input {
  @include flexbox(start, center, 1.6rem);

  width: 100%;
  padding: 0.8rem 1.2rem;
  border-bottom: 0.1rem solid $border-divide-bold;
  background-color: $bg-primary;

  &-value {
    @include text-style(14);
  }

  &-textarea {
    @include text-style(14);
    @include scrollbar-base;

    overflow-y: auto;
    width: 100%;
    height: 12rem;
  }
}

.inline-form-row {
  @include flexbox(start, center);

  align-items: stretch;

  &.required {
    .inline-label-text {
      position: relative;

      &::after {
        content: '';

        position: absolute;
        top: 0;
        right: -0.8rem;

        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;

        background-color: $icon-interactive-primary;
      }
    }
  }
}

.inline-form-field {
  margin-bottom: 1.2rem;
  border-top: 0.2rem solid $border-divide-bolder;
}
