@use '../variables' as *;
@use '../mixins/' as *;

.search-area {
  @include flexbox(start, start);

  flex-wrap: wrap;
  gap: 1.6rem 4rem;

  width: 100%;
  margin-bottom: 1.6rem;
  padding: 3.2rem 4.8rem;
  border-radius: 1.2rem;

  background-color: $bg-surface-muted;

  .form-area {
    @include flexbox(start, center);

    flex-grow: 1;
    flex-wrap: wrap;
    gap: 1.6rem 3.2rem;
  }

  .form-field {
    max-width: calc((100% - 6.4rem) / 3);
  }

  .form-input {
    width: 100%;
  }

  .button-area {
    @include flexbox($gap: 1rem);

    margin-left: auto;
  }
}
