@use '../variables' as *;
@use '../mixins/' as *;

.form-select {
  position: relative;
  flex-shrink: 0;
  width: 100%;

  &.is-active {
    .form-select-options-content {
      display: block;
    }

    .material-symbols-rounded {
      transform: rotate(-180deg);
    }
  }

  &-trigger {
    @include flexbox(between, $gap: 1rem);

    width: 100%;

    .material-symbols-rounded {
      font-size: 2rem;
      transition: transform 0.3s linear;
    }
  }

  &-options-content {
    @include option-scrollbar;

    position: absolute;
    z-index: $select-options-level;
    top: 4rem;

    overflow-y: auto;
    display: none;

    width: 100%;
    height: auto;
    max-height: 13.8rem;
    padding: 0.4rem;
    border: 0.1rem solid $border-tertiary;
    border-radius: 0.6rem;

    background-color: $bg-primary;
    box-shadow: $options-shadow;
  }

  &-option-list {
    .option-item {
      button {
        @include text-style(14);
        @include focus-visible;

        width: 100%;
        height: 3.2rem;
        padding: 0 0.8rem;
        border-radius: 0.6rem;

        text-align: start;
      }

      &.is-active button {
        color: $text-interactive-selected;
        background-color: $bg-interactive-selected;
      }

      &:hover:not(.is-active) {
        button {
          background-color: $bg-interactive-secondary;
        }
      }
    }
  }
}
