@use '../variables' as *;

.skeleton {
  background: linear-gradient(90deg, #e4e6e9 25%, #f2f4f7 50%, #e4e6e9 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 3s infinite linear;

  &.circle.md {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
  }

  &.circle.sm {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
  }

  &.text {
    width: 100%;
    height: 1.4rem;
    border-radius: 0.4rem;
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}
