@use '../variables' as *;
@use '../mixins/' as *;

.external-tab-bar {
  @include flexbox(start);

  width: 100%;
  height: 4.4rem;
  border-bottom: 0.1rem solid $border-divide-bold;
  background-color: $bg-primary;

  &.active .tab-scroll-btn {
    display: block;
  }
}

.tabs-container {
  position: relative;
  overflow: hidden;
  flex-grow: 1;

  &::after {
    pointer-events: none;
    content: '';

    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0.1rem;

    display: block;

    width: 5.6rem;
    height: 100%;

    background: linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, #fff 90%);
  }

  .tabs-scroll-area {
    scrollbar-width: none;
    overflow: auto hidden;
  }

  .tabs-scroll-area::-webkit-scrollbar {
    display: none;
  }

  .external-tab-list {
    display: flex;
    flex-wrap: nowrap;

    > li {
      flex-shrink: 0;
    }
  }
}

.external-tab-item {
  @include inline-flexbox($gap: 0.4rem);

  cursor: pointer;

  position: relative;

  width: fit-content;
  min-width: 9.6rem;
  height: 4.4rem;
  padding: 1.2rem 0.8rem 1.2rem 1.2rem;

  transition: $base-transition;

  &-text {
    @include text-style(14, $text-disabled);

    white-space: nowrap;
    transition: $base-transition;
  }

  .tab-remove {
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    transition: $base-transition;

    .material-symbols-rounded {
      font-size: 1.6rem;
      color: $icon-disabled;
    }

    &:hover {
      background-color: $bg-interactive-secondary;

      .material-symbols-rounded {
        color: $icon-secondary;
      }
    }

    &:active {
      background-color: $bg-interactive-secondary-hovered;
    }
  }

  &:hover {
    .external-tab-item-text {
      color: $text-secondary;
    }
  }

  &.is-active {
    &::after {
      content: '';

      position: absolute;
      z-index: $after-content-level;
      bottom: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 0.2rem;

      background-color: $bg-inverse-bold;
    }

    .external-tab-item-text {
      color: $text-primary;
    }
  }
}

.tab-controls {
  position: relative;
  display: flex;
  align-items: center;

  &::after {
    @include pos-center-y;

    content: '';

    right: 4.4rem;

    width: 0.1rem;
    height: 1.6rem;

    background: $border-divide-bold;
  }
}

.tab-scroll-btn {
  @include inline-flexbox;

  display: none;
  flex-shrink: 0;

  width: 2.8rem;
  height: 2.8rem;
  margin: 0 0.8rem;
  border: 0.1rem solid $border-interactive-primary;
  border-radius: 0.6rem;

  transition: all 0.3s ease-in-out;

  .material-symbols-rounded {
    font-size: 1.8rem;
    color: $icon-interactive-primary;
  }

  &:hover {
    border-color: $border-interactive-primary-hovered;
    background-color: $bg-interactive-selected;
  }

  &:active {
    border-color: $border-interactive-primary-pressed;
    background-color: $bg-interactive-selected-hover;
  }

  &:disabled {
    cursor: not-allowed;
    border-color: transparent;
    background-color: #e5e7eb;

    .material-symbols-rounded {
      color: $icon-disabled;
    }
  }
}

.tab-close-all-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 2.8rem;
  height: 2.8rem;
  margin: 0 0.8rem;
  border: 0.1rem solid $border-interactive-secondary;
  border-radius: 0.6rem;

  transition: all 0.3s ease-in-out;

  .material-symbols-rounded {
    font-size: 1.8rem;
    color: $icon-interactive-secondary;
  }

  &:hover {
    border-color: #d1d5db;
    background-color: #f3f4f6;
  }

  &:active {
    border-color: #9ca3af;
    background-color: #e5e7eb;
  }
}

// 기본 탭
.tab-bar {
  width: 100%;
  height: 3.2rem;
  margin-bottom: 1.6rem;
  border-bottom: 0.1rem solid $border-divide-bold;
}

.tab-list {
  @include flexbox(start);
}

.tab-item {
  min-width: 11rem;
  height: 3.2rem;
  padding: 0 1.2rem 1.2rem;
  border-bottom: 0.2rem solid transparent;

  &-text {
    @include text-style(14, $text-disabled);

    transition: $base-transition;
  }

  &:hover {
    .tab-item-text {
      color: $text-secondary;
    }
  }

  &.is-active {
    border-bottom: 0.2rem solid $border-lamp7;

    .tab-item-text {
      color: $text-secondary;
    }
  }
}
