@use '../mixins' as *;
@use '../variables' as *;

.top-bar {
  @include flexbox;

  width: 100%;
  height: 5.6rem;
  padding: 0 2.4rem;
  border-bottom: 0.1rem solid $border-divide-bold;

  background-color: $bg-primary;

  .logo {
    width: 7.6rem;
    height: auto;

    img {
      @include image-fit;
    }
  }

  &-container {
    @include flexbox(between);

    width: 100%;
  }

  &-nav {
    @include flexbox($gap: 0.8rem);
  }
}
