.visually-hidden {
  overflow: hidden;

  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);

  &:not(caption) {
    position: absolute;
  }
}
