@use '../mixins/' as *;
@use '../variables' as *;

.section {
  width: 100%;
  margin-bottom: 1rem;

  &-header {
    &.section-divider {
      padding-bottom: 0.6rem;
      border-bottom: 0.2rem solid $border-divide-bolder;
    }
  }

  h2 {
    @include text-style(18, $text-primary, 500);
  }

  &-body {
    padding-top: 1.2rem;
  }
}

.collapsible-section {
  margin-bottom: 1.6rem;
  border: 0.1rem solid $border-divide-bolder;
  border-radius: 1.2rem;

  &-header {
    @include flexbox(between);

    padding: 0.8rem 1.2rem;

    .btn-close {
      @include inline-flexbox;

      overflow: hidden;

      width: 2.4rem;
      height: 2.4rem;
      border-radius: 0.4rem;

      transition: $base-transition;

      .material-symbols-rounded {
        transform-origin: center;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 2.4rem;
        height: 2.4rem;

        font-size: 2.4rem;
        color: $icon-primary;

        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        background-color: $bg-interactive-secondary;
      }

      &:active {
        background-color: $bg-interactive-secondary-hovered;
      }
    }
  }

  &-title {
    @include text-style(18, $text-primary, 500);
  }

  &-body {
    padding: 0 1.2rem;
  }

  &.is-closed {
    .collapsible-section-body {
      display: none;
    }

    .material-symbols-rounded {
      transform: rotate(180deg);
    }
  }
}
